{% extends "myauth/layout.html" %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="jumbotron">
  {% if user.is_not_authenticated %}
  <h1>Please Sign In</h1>
  <p class="lead">Microsoft Login/SignIn</p>
  {% else %}
  {% if user.is_authenticated %}
    <h4>Welcome {{ user.first_name }}!</h4>
    <p>Successfully Logged-In.</p>
  {% else %}
    <a href="{% url 'login' %}" class="btn btn-primary btn-large">Sign-In</a>
  {% endif %}
  {% endif %}

</div>
{% endblock %}


