[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "==5.0.6"
asgiref = "==3.3.4"
billiard = "==3.6.4.0"
celery = "==5.1.1"
certifi = "==2021.5.30"
cffi = "==1.14.5"
chardet = "==4.0.0"
click = "==7.1.2"
click-didyoumean = "==0.0.3"
click-plugins = "==1.1.1"
click-repl = "==0.2.0"
colorama = "==0.4.4"
cryptography = "==3.4.7"
decouple = "==0.0.7"
defusedxml = "==0.7.1"
dj-database-url = "==0.5.0"
django-allauth = "==0.44.0"
django-background-tasks = "==1.2.5"
django-celery-beat = "==2.2.0"
django-classy-tags = "==2.0.0"
django-cms = "==3.8.0"
django-compat = "==1.0.15"
django-crispy-forms = "==1.12.0"
django-email-users = "==1.1.0"
django-event-rsvp = "==0.4.1"
django-filer = "==2.0.2"
django-filter = "==2.4.0"
django-formtools = "==2.3"
django-heroku = "==0.3.1"
django-js-asset = "==1.2.2"
django-microsoft-auth = "==2.4.0"
django-microsoft-authentication = "==0.1.2"
django-mptt = "==0.12.0"
django-otp = "==1.0.6"
django-polymorphic = "==3.0.0"
django-sekizai = "==2.0.0"
django-timezone-field = "==4.1.2"
django-treebeard = "==4.5.1"
djangocms-admin-style = "==2.0.2"
djangorestframework = "==3.12.4"
dnspython = "==1.16.0"
easy-thumbnails = "==2.7.1"
eventlet = "==0.31.0"
greenlet = "==1.1.0"
gunicorn = "==20.1.0"
idna = "==2.10"
kombu = "==5.1.0"
msal = "==1.7.0"
oauthlib = "==3.1.1"
prompt-toolkit = "==3.0.19"
psycopg2 = "==2.8.6"
pycparser = "==2.20"
python-crontab = "==2.5.1"
python-dateutil = "==2.8.1"
python3-openid = "==3.2.0"
pytz = "==2021.1"
qrcode = "==7.1"
redis = "==2.10.6"
requests = "==2.25.1"
requests-oauthlib = "==1.3.0"
signals = "==0.0.2"
six = "==1.16.0"
south = "==1.0.2"
sqlparse = "==0.4.1"
urllib3 = "==1.26.5"
vine = "==5.0.0"
wcwidth = "==0.2.5"
whitenoise = "==5.2.0"
Django = "==3.2.4"
Pillow = "==8.2.0"
PyJWT = "==1.7.1"
PyYAML = "==5.4.1"
Unidecode = "==1.1.2"

[dev-packages]

[requires]
python_version = "3.9"
