{% extends 'tasks/basic.html' %} {% block content %}
<div class="my-3">
  <div class="container my-1 border pb-3 col-6">
    <h3 class="text-muted mx-2">
    <u>Event Title : {{ object.title }}</u>
    </h3>
    <small class="ms-3 mb-4 fst-italic">on {{ object.date }} , from {{ object.time_from }}  to  {{ object.time_to }}</small>

  <h5><p class="mb-3 mt-2 ms-2 pb-1 border-bottom">Description : {{ object.description}}</p></h5>
  <h6><p class="mb-2 mt-1 ms-2">Target Audience : {{ object.target_batch}}</p></h6>
  <h6><p class="mx-2 border-bottom pb-2">Target Branch : {{ object.target_branch}}</p></h6>
  {% if object.author == user %}
    <a href="{% url 'tasks-update' object.id%}"
            ><button class="btn btn-outline-info">Edit Event</button></a
          >
    <a href="{% url 'tasks-delete' object.id%}"
            ><button class="btn btn-outline-danger">Delete Event</button></a
          >
  {% else%}
   <p class="ms-2">Event Creator: {{object.author.profile.name}}</p>
  {% endif %}
  </div>
  
</div>
{% endblock content %}