{% extends "tasks/basic.html" %} 
{% block content %}
<div class="content-section col-6">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Are you sure to delete this Task named "{{ object.title}}"</legend>
    </fieldset>
    <div class="form-group my-2">
      <button class="btn btn-outline-danger" type="submit">Yes, Delete it</button>
      <a class="btn btn-outline-info" href="{% url 'tasks-detail' object.id%}">Cancel</a>
    </div>
  </form>
</div>
{% endblock content %}